<h2>Create Fleet</h2>
<%= form_for(@fleet) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, id: :fleet_title, class: 'form-control', placeholder: 'Add New Fleet' %><br><br>
  <% if @fleet.errors.full_messages.any? %>
    <p class="errors">
      <%= "Fleet could not be saved. #{@fleet.errors.full_messages.join('. ')}" %>
    </p>
  <% end %>
  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>

<article class="timeline">
  <h3>
    Recent fleets
  </h3>
  <ul class="fleets">
    <%= render @timeline_fleets %>
  </ul>
</article>
